
@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SerhatYas.WebUI.Models.ServiceVM
<h1>Project Update</h1>
<div class="col-md-12">
    <form action="/projects/update" method="post" enctype="multipart/form-data">
        <input hidden asp-for="@Model.Project.Id" />
        <input hidden asp-for="@Model.Project.Date" />
        <input hidden asp-for="@Model.Project.Icon" />
        <input hidden asp-for="@Model.Project.IsDeleted" />
        <input hidden asp-for="@Model.Project.IsPassive" />
        <div class="form-group">
            <label class="text-muted">Project Name</label>
            <input type="text" asp-for="@Model.Project.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label class="text-muted">Project Description</label>
            <textarea id="editor" asp-for="@Model.Project.Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="text-muted">Project Progress</label>
            <input type="number" asp-for="@Model.Project.Progress" class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-muted">Project Statu</label>
            <select class="form-control" asp-for="@Model.Project.Statu">
                <option value="1">Canceled</option>
                <option value="2">Progress</option>
                <option value="3">Completed</option>
                <option value="4">Pending</option>
            </select>
        </div>
        <div class="form-group">
            <label class="text-muted">Project Team Members</label>
            <select class="form-control cmbMembers" multiple name="cmbMembers" asp-items="@(new SelectList(Model.UserList,"Id","DisplayName"))">
            </select>
        </div>
        <div class="form-group">
            <label class="text-muted">Project Icon</label>
            <input name="file" type="file" asp-for="@Model.Project.Icon" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


@section js{
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function myfunction() {
            const value = '@(string.Join(',',Model.UserProjectMapList.Select(y=>y.UserId).ToArray()))';
            $(".cmbMembers").val(value.split(','))
            ClassicEditor
                .create(document.querySelector('#editor'))

        })
    </script>
}